<% title "Review" %>

<p>
  <strong>User:</strong>
  <%=h @review.user.name %>
</p>
<p>
  <strong>Book:</strong>
  <%=h @review.book.title %>
</p>
<p>
  <strong>Review:</strong>
  <%=h @review.review %>
</p>
<p>
  <strong>Rating:</strong>
  <%=h @review.rating %>
</p>

<p>
  <% if logged_in? %>
  <% if @review.user.id == @current_user.id %>
  <%= link_to "Edit", edit_review_path(@review) %> |
  <%= link_to "Destroy", @review, :confirm => 'Are you sure?', :method => :delete %> 
  <% end %> |
  <% end %>
  <%= link_to "View All", reviews_path %>
</p>
